---
import { getLangFromUrl, useTranslations } from "@i18n/utils";

const lang = getLangFromUrl(Astro.url);
const translation = useTranslations(lang);
---

<section>
  {translation.basics.label}
</section>
