---
import Container from "@containers/Container.astro";
import LanguagePicker from "./LanguagePicker.astro";
---

<header class="sticky top-0">
	<Container classes="flex justify-end">
		<div>
			<!-- TODO: ADD LOGO -->
		</div>
		<div>
			<!-- TODO: ADD THEME PICKER -->
			<LanguagePicker />
		</div>
	</Container>
</header>
