---
import LanguagePicker from "./LanguagePicker.astro";
import ThemePicker from "./ThemePicker.astro";
---

<header
	class="max-w-3xl mx-auto mb-3 py-4 sticky top-0 backdrop-blur-lg flex justify-end px-8 bg-white dark:bg-gray-950 bg-opacity-90"
>
	<div>
		<!-- TODO: ADD LOGO -->
	</div>
	<div class="flex items-center gap-4">
		<ThemePicker />
		<LanguagePicker />
	</div>
</header>
