---
import { languages } from "@i18n/ui";
import { getLangFromUrl } from "@i18n/utils";

const currentLang = getLangFromUrl(Astro.url);
---

<form>
  <label class="visually-hidden" for="languagePicker"
    >Selecciona un idioma:</label
  >
  <select
    id="languagePicker"
    class="bg-gray-50 dark:bg-zinc-800 border border-gray-300 text-zinc-800 dark:text-white text-sm rounded-lg border-s-gray-100 block p-2.5"
  >
    {
      Object.entries(languages).map(([lang, label]) => (
        <option selected={lang === currentLang} value={lang}>
          {label}
        </option>
      ))
    }
  </select>
</form>
<style>
  .visually-hidden {
    border: 0;
    padding: 0;
    margin: 0;
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
    clip: rect(
      1px 1px 1px 1px
    ); /* IE6, IE7 - a 0 height clip, off to the bottom right of the visible 1px box */
    clip: rect(
      1px,
      1px,
      1px,
      1px
    ); /*maybe deprecated but we need to support legacy browsers */
    clip-path: inset(
      50%
    ); /*modern browsers, clip-path works inwards from each corner*/
    white-space: nowrap; /* added line to stop words getting smushed together (as they go onto seperate lines and some screen readers do not understand line feeds as a space */
  }
</style>
<script>
  const languagePicker = document.querySelector("#languagePicker");

  if (!languagePicker) throw new Error("languagePicker not found");

  languagePicker.addEventListener("change", (event) => {
    const target = event.target as HTMLInputElement;
    window.location.href = `/${target.value}/`;
  });
</script>
