---
import { languages } from "@i18n/ui";
import { getLangFromUrl } from "@i18n/utils";

const currentLang = getLangFromUrl(Astro.url);
---

<form>
  <select
    id="languagePicker"
    class="bg-gray-50 dark:bg-zinc-800 border border-gray-300 text-zinc-800 dark:text-white text-sm rounded-lg border-s-gray-100 block p-2.5 outline-none"
  >
    <label for="languagePicker">Selecciona un idioma:</label>
    {
      Object.entries(languages).map(([lang, label]) => (
        <option selected={lang === currentLang} value={lang}>
          {label}
        </option>
      ))
    }
  </select>
</form>
<script>
  const languagePicker = document.querySelector("#languagePicker");

  if (!languagePicker) throw new Error("languagePicker not found");

  languagePicker.addEventListener("change", (event) => {
    const target = event.target as HTMLInputElement;
    window.location.href = `/${target.value}/`;
  });
</script>
