---
import { Link } from "@constants/index";
---

<nav>
  <ul>
    {
      Link.navBarLinks.map(({ title, to }) => (
        <li>
          <a href={to}>{title}</a>
        </li>
      ))
    }
  </ul>
</nav>
